*:focus{outline: none;}

.row{
    display:flex;
    flex-direction: column;
    text-align: center;
    flex-direction:center;
    align-items: center;
    justify-content: center;
    font-size:1.1rem!important;
}
.requestBtn{
    background:rgba(31, 31, 112, 0.945)!important;
    border:0px;
    border-radius:10px;
    width: 50%;
    margin:1%;
    height:fit-content;
    color:white!important;
  }