*:focus { outline: none; }
#heading {
    font-size: 2rem;
    font-family: 'Poppins';
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    color: #2e2a2a;
    font-style: continuous
  }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #141414;
    background-color: #ffffff;
    border-color: #181418;
  }

  .dropdown-menu {
    background-color: #fafafa;
  }

  .dropdown-menu .dropdown-item {
    color: #464646;
  }

  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  mat-slider {
    width: 100%;
  }
  h3 {
    font-size: 1.3rem;
    margin: 20px 0;
    text-align: center;
    color:white;
    small {
      font-size: 0.5em;
    }
  }

  .responsive-table {
    li {
      border-radius: 3px;
      padding: 10px 24px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }
    .table-header {
      background: rgb(250,250,252);
      background: linear-gradient(90deg, rgba(250,250,252,1) 0%, rgba(80,80,210,1) 19%, rgba(80,80,210,1) 81%, rgba(252,252,252,1) 100%);
      border-top: 1px solid rgb(31, 31, 112);
      border-bottom: 1px solid rgb(31, 31, 112);
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      color:white;
      font-weight:bold;
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
      flex-basis: 10%;
    }
    .col-2 {
      flex-basis: 40%;
      max-width:inherit;
    }


    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }
      li {
        display: block;
      }
      .col {

        flex-basis: 100%;

      }
      .col {
        display: flex;
        padding: 10px 0;
        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
  }
  .messages{
    display: flex;
    flex-direction:row;
    max-width:80%;
    min-width:45%;
    padding:20px;
    font-size:1rem!important;
    margin: 1% 2%!important;
  }
  .column{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height:fit-content;
    background:white;
    border-radius:20px;
    flex: 1 1;
    margin:5px 5px 5px 0px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.186);
  }
  #sendBtn{
    background:rgba(31, 31, 112, 0.76)!important;
    border:0px;
    border-radius:10px;
    width: 25%;
    margin:1%;
    height:50px;
    color:white!important;
  }
  #goBtn{
    background:rgba(31, 31, 112, 0.76)!important;
    border:0px;
    border-radius:10px;
    width: 15%;
    margin:1%;
    height:50px;
    color:white!important;
  }
  .paginationBtn{
    background:rgba(31, 31, 112, 0.945)!important;
    border:0px;
    border-radius:10px;
    width: 15%;
    margin:1%;
    height:50px;
    color:white!important;
  }
  .requestBtn{
    background:rgba(31, 31, 112, 0.945)!important;
    border:0px;
    border-radius:10px;
    width: 50%;
    margin:1%;
    height:fit-content;
    color:white!important;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
  }
  #textMsg{
    color:black!important;
    border:1px solid rgba(31, 31, 112, 0.76)!important;
    border-radius: 10px;
    width:38%!important;
    height:50px!important;
    margin:1%;
  }
  #radiusDiv{
    background:white;
    color:black!important;
    border:1px solid rgba(31, 31, 112, 0.76)!important;
    border-radius: 10px;
    width:28%!important;
    height:50px!important;
    margin:1%;
  }
  #textMsgtitle{
    color:white!important;
    border-radius: 10px;
    width:40%!important;
    margin:1% 0 0 2%;
  }
  #radiusDivtitle{
    color:white!important;
    border-radius: 10px;
    width:30%!important;
    margin:1% 0 0 2%;
  }
.spinner {
  margin: 20px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.slideAnimation {
  -webkit-animation: slide 2.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 2.5s forwards;
  animation-delay: 2s;
}
@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

  @media only screen and (max-width: 450px){
    #heading{
        font-size:1rem ;
        font-family: 'Poppins';
        margin-left: 10px;
        margin-top: auto;
        margin-bottom: auto;
        font-weight: bold;
        color: #000000;
        font-style: continuous
    }
  }


  .boxx{
    background-color: #1597bb;
  }
.butt{
  background-color: #0e49b5;
  border-color: white;
  border-width: 3px;
  color: white;
}
